.categorys {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  width: 170px;
  .categoryTitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #040320;
  }
  .labelBox {
    font-size: 1.3rem;
    font-weight: 500;
    border: 2px dashed #e41b1b;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #fff;
    color: #040320;
    gap: 10px;
    width: 100%;
    .check {
      transform: scale(1.5);
      accent-color: #e7410f;
      cursor: pointer;
    }
  }
}
